:root {
  --main-background-color: #f5f5f5;
  --black-color: #000;
  --text-color: #6c757d;
  --footer-background-color: #64748b;
  --border-radius: 8px;
  --logo-width: min(6rem, 100%);
  --white-color: #fff;
  --primary-color: linear-gradient(to right, #34d399, #059669);
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: min(150rem, 100%);
  display: grid;
  grid-template-rows: 1fr 5fr 0.5fr;
}

header {
  background: var(--primary-color);
  padding: 2em 2em;
}

.hero-container {
  height: max(5rem, 100%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__logo {
  flex-basis: var(--logo-width);
  flex-shrink: 0;
}

div[class$="__logo"] img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: min(var(--logo-width), 100%);
}

.hero__text {
  font-size: clamp(1vw, 4.2rem, 2vw);
  text-transform: uppercase;
}

main {
  padding: 2em 4em;
  background-color: var(--main-background-color);
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10em;
  margin-bottom: 2rem;
}

.btn {
  font-size: 1.6rem;
  padding: 0.6em 2em;
  border-radius: var(--border-radius);
}

.btn-primary {
  font-size: 1.2rem;
  border-radius: 3px;
}

.btn-delete {
  font-size: 1.2rem;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: var(--primary-color);
  color: var(--white-color);
}

.btn-delete:hover,
.btn-delete:focus {
  background: red;
  color: var(--white-color);
}

.main-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: center;
}

.card {
  min-height: max(15rem, 100%);
  background-color: var(--white-color);
  padding: 2rem 3rem;
  border-radius: var(--border-radius);
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.2rem;
}

.card__status {
  font-weight: 700;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}

.main-content > .library-empty {
  font-size: clamp(2vw, 3.6rem, 3vw);
}

.main-content > .guide-line {
  font-size: 1.8rem;
  color: var(--text-color);
}

.description {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: min(50rem, 100%);
}

.description > .description__title {
  font-size: clamp(2vw, 2.5rem, 3vw);
}

.description > .description__content {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: var(--text-color);
}

footer {
  background-color: var(--footer-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

footer > .footer-content {
  font-size: 1.6rem;
  color: var(--white-color);
}

#footer-logo {
  width: 3rem;
}

#footer-logo img {
  width: min(3rem, 100%);
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: var(--white-color);
  width: min(40rem, 100%);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-rows: 1fr 4fr;
  animation: modalFadeIn ease 0.5s;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  position: relative;
}

.modal-header > .header__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.header__title > .title__logo {
  flex-basis: min(4rem, 100%);
  flex-shrink: 0;
}

#modal__logo > img {
  width: min(4rem, 100%);
}

.close__logo {
  width: min(2rem, 100%);
  position: absolute;
  right: 1.4rem;
  top: 1rem;
}

#modal__close > img {
  width: min(2rem, 100%);
  cursor: pointer;
}

.header__title > .title__text {
  font-size: 2.4rem;
}

.modal-body {
  padding: 2em 2em;
  display: flex;
  justify-content: center;
}

.modal-body > .add-book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(30rem, 100%);
  gap: 1.6rem;
}

.form-action {
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.form-action.row {
  flex-direction: row;
}

.form-action > input[type="text"],
.form-action > input[type="number"] {
  padding: 0.5rem;
}

.form-action > button {
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 700;
}

.form-action > button:hover,
.form-action > button:focus {
  background: var(--white-color);
  color: var(--black-color);
}

/* utils class */
.deactivated {
  display: none;
}
