:root {
  --main-background-color: #f5f5f5;
  --black-color: #000;
  --text-color: #6c757d;
  --footer-background-color: #64748b;
  --border-radius: 8px;
  --logo-width: min(6rem, 100%);
  --white-color: #fff;
  --primary-color: linear-gradient(to right, #34d399, #059669);
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: min(140rem, 100%);
  display: grid;
  grid-template-rows: 1fr 5fr 0.5fr;
}

header {
  background: var(--primary-color);
  padding: 2em 2em;
}

.hero-container {
  height: max(5rem, 100%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__logo {
  aspect-ratio: 1/1;
  object-fit: cover;
  flex-basis: var(--logo-width);
  flex-shrink: 0;
}

div[class$="__logo"] img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: min(var(--logo-width), 100%);
}

.hero__text {
  font-size: clamp(1vw, 4.2rem, 2vw);
  text-transform: uppercase;
}

main {
  padding: 2em 4em;
  background-color: var(--main-background-color);
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10em;
  margin-bottom: 2rem;
}

.btn {
  font-size: 1.6rem;
  padding: 0.6em 2em;
  border-radius: var(--border-radius);
}

.btn-primary {
  font-size: 1.2rem;
  border-radius: 3px;
}

.btn-delete {
  font-size: 1.2rem;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: var(--primary-color);
  color: var(--white-color);
}

.btn-delete:hover,
.btn-delete:focus {
  background: red;
  color: var(--white-color);
}

.main-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: center;
}

.card {
  min-height: max(15rem, 100%);
  background-color: var(--white-color);
  padding: 2rem 3rem;
  border-radius: var(--border-radius);
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.2rem;
}

.card__status {
  font-weight: 700;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}

.main-content > .library-empty {
  font-size: clamp(2vw, 3.6rem, 3vw);
}

.main-content > .guide-line {
  font-size: 1.8rem;
  color: var(--text-color);
}

.description {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: min(50rem, 100%);
}

.description > .description__title {
  font-size: clamp(2vw, 2.5rem, 3vw);
}

.description > .description__content {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: var(--text-color);
}

footer {
  background-color: var(--footer-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

footer > .footer-content {
  font-size: 1.6rem;
  color: var(--white-color);
}

#footer-logo {
  width: 3rem;
}

#footer-logo img {
  width: min(3rem, 100%);
}

/* utils class */
.deactivated {
  display: none;
}
