:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --main-background-color: #e2e8f0;
  --border-radius: 8px;
  --logo-width: min(6rem, 100%);
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: min(120rem, 100%);
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

header {
  background-color: var(--white-color);
  padding: 2em 2em;
}

.hero-container {
  height: max(5rem, 100%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__logo {
  aspect-ratio: 1/1;
  object-fit: cover;
  flex-basis: var(--logo-width);
  flex-shrink: 0;
}

div[class$="__logo"] img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: min(var(--logo-width), 100%);
}

.hero__text {
  font-size: clamp(1vw, 4.2rem, 2vw);
  text-transform: uppercase;
}
